* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary: rgb(37, 150, 190);
  --link-color: white;
  --link-button-bg: #ffff;
  --link-button: black;
}

a {
  text-decoration: none;
}

/* .main{
  width: fit-content;
} */

.header {
  min-height: 40rem;
  background-image: url("../public/images/image-header.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  padding-inline: 1.5rem;
  padding-top: 1.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 2rem;
  color: white;
  font-family: sans-serif;
}

.navlinks {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navlinks > li {
  margin-left: 3rem;

  text-transform: capitalize;
}

.navlinks > li > a {
  color: var(--link-color);
  letter-spacing: 3pt;
  font-size: 1.2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#contactBtn {
  background-color: var(--link-button-bg);
  padding-block: 0.6rem;
  padding-inline: 1.5rem;
  border-radius: 20px;
  color: var(--link-button);
  font-weight: 500;
}

#contactBtn:hover {
  background-color: blanchedalmond;
  transition-duration: 0.5s;
}

.headerContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10rem;
  margin-inline: 2rem;
}

.headerContent h2 {
  font-size: 4rem;
  color: var(--link-color);
  text-align: center;
}

.headerContent img {
  margin-top: 6rem;
}

.section_one {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  min-height: 22rem;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.cardwithlink,
.cardwithoutlink {
  margin-inline: 80px;
  margin-block: 25px;
}

.cardwithlink h2 {
  margin-bottom: 1.5rem;
  font-size: 32px;
  font-family: "Courier New", Courier, monospace;
}

.cardwithlink p {
  margin-bottom: 1.5rem;
  font-size: medium;
  text-align: justify;
  line-height: 25px;
  color: #847373;
  font-weight: 500;
}

.cardwithlink img {
  cursor: pointer;
}

.cardwithoutlink h1 {
  text-align: center;
  font-size: 21px;
  margin-bottom: 1rem;
  color: #24554a;
  font-weight: bold;
  text-transform: capitalize;
}

.cardwithoutlink p {
  text-align: center;
  line-height: 24px;
  color: #589688;
  font-size: 15px;
}

.testimonialcontainer {
  min-height: 30rem;
}

.testimonialcontainer h1 {
  text-align: center;
  padding-top: 3rem;
  text-transform: uppercase;
  color: lightslategray;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 6rem;
}

.testiCard {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  align-items: center;
}

.testiCard img {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  margin-bottom: 1.5rem;
}

.testiCard p {
  text-align: center;
  margin-bottom: 1.5rem;
  line-height: 25px;
  color: #848391;
}

.testiCard h5 {
  margin-bottom: 10px;
  font-size: 28px;
}

.testiCard h6 {
  font-size: 17px;
  color: #829494;
}

.sectiontwo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 2rem;
}

.footer {
  min-height: 15rem;
  background-color: #589688;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerContent h1 {
  font-size: xx-large;
  color: white;
  text-transform: lowercase;
}

.footerContent ul {
  list-style-type: none;
  display: flex;
}

#footerLinks li {
  margin-inline: 1rem;
  margin-block: 2rem;
  color: #24554a;
  font-size: medium;
  text-transform: capitalize;
  cursor: pointer;
}

#socialmedias li {
  margin-inline: 0.3rem;
}

#menu{
  display: none;
}

@media (max-width: 480px) {
  .section_one,
  .testimonials {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 1rem;
  }

  nav h1{
    font-size: 2rem;
  }

  nav ul > li {
    
    display: none;
  }

  #menu{
    display: block;
  }
  .headerContent{
    margin-top: 17rem;
  }

  .headerContent h2 {
    font-size: 3rem;
  }

  .headerContent img {
    margin-top: 2rem;
  }

  .cardwithlink,.cardwithoutlink {
    margin-inline: 25px;
  }

  .cardwithlink h2{
    font-size: x-large;
  }

  .sectiontwo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .testimonialcontainer h1{
    font-size: x-large;
  }

}

@media (min-width:480px) and (max-width:800px){
  nav ul > li {
    
    display: none;
  }

  #menu{
    display: block;
  }
}